
@{
	Exception exception = ViewData["HandleException"] as Exception;
}

<!DOCTYPE html>

<html>
<head>
    <meta name="viewport" content="width=device-width" />
    <title>Error</title>
</head>
<body>
	<h1 style="color:red">@exception.Message</h1>
	<h1 style="color:yellow">@exception.StackTrace</h1>
</body>
</html>
