@model AspNetCoreMvc2.Introduction.Models.Security.ResetPasswordViewModel
@{
	Layout = null;
}

<!DOCTYPE html>

<html>
<head>
	<meta name="viewport" content="width=device-width" />
	<title>ResetPassword</title>
</head>
<body>
	<h3>Reset Password</h3>
	<form asp-controller="Security" asp-action="ResetPassword" method="post">
		<div asp-validation-summary="All"></div>
		<input asp-for="Code" type="hidden" />
		<input type="text" asp-for="Email" placeholder="Email" /><br />
		<input type="password" asp-for="Password" placeholder="Password" /><br />
		<input type="password" asp-for="ConfirmedPassword" placeholder="ConfirmPassword" /><br />
		<input type="submit" value="Reset" />
	</form>
</body>
</html>
